@import url("whitespace-reset.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

nav {
  background-color: #F6F6DB;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 16px;
}

nav a {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;
}

footer h1 {
  text-align: center;
}

footer ul {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding-top: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

.profile-pic {
  text-align: center;
}